<div class="container">
    <div class="mt-5 p-5 bg-secondary text-white rounded">

        <div class="row">
            <div class="col-sm-6">
                <app-progresso></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas></app-tentativas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>{{instrucao}} </h6>
                <p>{{"\"" + frases[0].fraseEng + "\""}}</p>
                  <div class="form-floating">
                    <textarea class="form-control" 
                    placeholder="Insira a frase traduzida aqui" 
                    id="floatingTextarea" 
                    (input)="atualizaResposta($event)">
                </textarea>
                    <label for="floatingTextarea">Insira a frase traduzida aqui</label>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary">Verificar</button>
            </div>
        </div>

    </div>
</div>
