<div class="container">
    <div class="mt-5 p-5 bg-secondary text-white rounded">

        <div class="row">
            <div class="col-sm-6">
                <!--linha 10 progresso.component-->
                <app-progresso [progress]="progresso"></app-progresso>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-end">
                    <app-tentativas [tent] = "tentativas"></app-tentativas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>{{instrucao}} </h6>
                <p>{{"\"" + rodadaFrase.fraseEng + "\""}}</p>
                  <div class="form-floating">
                    <textarea id="text-area" class="form-control" 
                    placeholder="Insira a frase traduzida aqui" 
                    id="floatingTextarea" 
                    (input)="atualizaResposta($event)"
                    [value]="resposta"></textarea>
                    <label for="floatingTextarea">Insira a frase traduzida aqui</label>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="verificarResposta()">Verificar</button>
            </div>
        </div>

    </div>
</div>
